.card {
  width: 150px;
  height: 175px;
  display: flex;
  flex-direction: column;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.storename {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.name {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background: rgba(144, 19, 254, 0.8);
  border-radius: 50px;
  color: rgb(207, 207, 207);
}

.button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
}

.button:focus {
  outline: none;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}
.iconqr {
  width: 70px;
  height: 70px;
  background: rgba(144, 19, 254, 0.75);
  border-radius: 100px;
}

.logout {
  background: rgba(245, 166, 35, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.room {
  color: rgb(177, 59, 59);
  cursor: "pointer";
}

.login {
  background: rgba(144, 19, 254, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-right: 10px;
}

.register {
  background: rgba(144, 19, 254, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logoF {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(14, 79, 165, 1);
  background-color: rgba(255, 255, 255, 1);
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 10px;
  /* background: rgba(144, 19, 254, 0.75); */
  background: rgb(0, 127, 95, 0.85);
}

.logoIconF {
  color: #b2ff9e;
}
